html {
  font-family: "Roboto", sans-serif;
}
html,
body {
  min-height: 100vh;
}
body {
  background: #eee;
  margin: 0;
}
.hide {
  display: none;
}
* {
  box-sizing: border-box;
}
svg.cartesian {
  display: flex;
}

/* Flip the vertical axis in <g> to emulate cartesian. */
svg.cartesian > g {
  transform: scaleY(-1);
}

/* Re-flip all <text> element descendants to their original side up. */
svg.cartesian > g text {
  /* TODO fix all this flip */
  /* transform: scaleY(-1); */
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.full-column {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}
.mt {
  padding-top: 20px;
}
.mb {
  padding-bottom: 20px;
}

.position-root {
  position: relative;
}
.position-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}